.main-content {
  grid-area: main;
  padding: 2rem;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.table-container {
  mat-form-field {
    width: 100%;
    margin-top: 10px;

  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.heading {
  color: var(--c-gray)
}

