.header {
  grid-area: header;
  border-bottom: 1px solid var(--c-gray);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  &__icon {
    background-color: inherit;
    padding: 8px;
  }

  &__button {
    border: none;
    background-color: var(--c-primary);
    text-transform: uppercase;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      transition: all 0.5s;
    }
  }
}


.mdc-dialog__container {
  background-color: white;
}