<div mat-dialog-title>
  <h2>User Form</h2>
</div>
<div mat-dialog-content>
  <div class="row">

    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput />
    </mat-form-field>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary">Save</button>
  <button mat-raised-button>Close</button>
</div>
