<div class="sidebar">

    <h1 class="sidebar__logo">crud app</h1>


  <div class="sidebar__image-block">
    <img src="/assets/images/user-image.jpg" alt="user image" class="sidebar__image">
    <span class="sidebar__user-name">Maxym Borovyk</span>
    <span class="sidebar__user-role">Front-end developer</span>
  </div>

  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item"><a class="navigation__item-link" href="#home">home</a></li>
      <li class="navigation__item"><a class="navigation__item-link" href="#home">home</a></li>
      <li class="navigation__item"><a class="navigation__item-link" href="#home">home</a></li>
      <li class="navigation__item"><a class="navigation__item-link" href="#home">home</a></li>
      <li class="navigation__item"><a class="navigation__item-link" href="#home">home</a></li>
    </ul>
  </nav>


  <button type="button">Logout</button>

</div>
