.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--c-sidebar-bg);
  height: 100vh;
  position: fixed;
  padding: 1rem;

  &__logo {
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    font-style: bold;
  }

  &__image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__user-name {
    font-size: 20px;
    padding-top: 20px;
  }

  &__user-role {
    font-size: 16px;
    padding-top: 15px;
    color: var(--c-primary);
  }
}


.sidebar__logo::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 10px;
  background-color: var(--c-primary);
  top: 0;
  left: -20px;


}


.navigation {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  &__item {
    list-style: none;
    width: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;


    &:hover {
      background-color: var(--c-primary);
      transform: scale(1.2);
    }
  }

  &__item-icon {
    margin-left: 5px;
    cursor: pointer;
  }

  &__item-link {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--c-black);
    font-size: 16px;
    position: relative;
    padding: 8px;
  }
}